*{
  margin: 0;
  padding: 0;
  font-family: tahoma;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
  gap: 30px;
  background: #1d2b3a;
}
.inputBox{
  position: relative;
  width: 250px;
}
.inputBox input{
  width: 100%;
  padding: 10px;
  border: 1px solid rgba(255,255,255,0.25);
  background: #1d2b3a;
  border-radius: 5px;
  outline: none;
  color: #fff;
  font-size: 1rem;
  transition: .5s;
}
.inputBox span{
  position: absolute;
  left: 0;
  top: 0;
  padding: 10px;
  pointer-events: none;
  font-size: 1rem;
  color: rgba(255,255,255,0.25);
  text-transform: uppercase;
  transition: 0.5;
}
.inputBox input:valid ~ span,
.inputBox input:focus ~ span{
  color: #00dfc4;
  transform: translateX(10px) translateY(-7px);
  font-size: 0.80rem;
  padding: 0 10px;
  background-color: #1d2b3a;
  border-left: 1px solid #00dfc4;
  border-right: 1px solid #00dfc4;
  transition: 0.5s;
  letter-spacing: 0.2px;
}
.inputBox input:valid,
.inputBox input:focus{
  border: 1px solid #00dfc4;
}
.inputBox:nth-child(2) input:valid ~ span,
.inputBox:nth-child(2) input:focus ~ span{
  background-color: #00dfc4;
  color: #1d2b3a;
  border-radius: 2px;
}
.inputBox:nth-child(3) input{
  background-color: #00dfc4;
  width: 273px;
}